body {
    background-color: aqua;
    background: url(./images/road3.jpg);
    background-size: cover;
    background-blend-mode: multiply;
}

.main {
    text-align: center;
}

.traffic_light {
    float: left;
    margin-left: -315px;
}