body {
    background-color: aqua;
    background: url(./images/road3.jpg);
    background-size: cover;
}

.name {
    background-color: black;
    color: white;
    float: left;
}

.main {
    text-align: center;
}

.traffic_light {
    display: flex;
    float: left;
    margin-left: -315px;
}

.right_side {
    display: flex;
    width: 50%;
    height: 20%;
    justify-content: center;
    align-items: flex-end;
    top: 50%;

}

.dance_man {

}

.dance_girl {

}

.dance_captain {

}

.campfire {
}